<span class = "date">
	[<%= message.created_at.strftime("%H:%M:%S") %>]
</span>
<font class = 'user' color = '<%= '#' + (message.author[0].ord*13%256).to_s(16) + (message.author[1].ord*13%256).to_s(16) + (message.author[2].ord*13%256).to_s(16) %>' >
	<%= message.author %>
</font>: <%= message.body %><br>
