<%= render "layouts/header" %>
<style>
#loginbox {
	width: 400px; 
	margin:auto; 
	margin-top: 50px;
	line-height: 25px;
	background-color: #FFF;

	box-shadow: 0 0 8px #A7938B;
	-webkit-box-shadow: 0 0 8px #A7938B;
	-moz-box-shadow: 0 0 8px #A7938B;
}
</style>

<div id="loginbox">
	<h1>Register</h1>
<%= render 'form' %>
<br />
</div>
<%= render "layouts/footer" %>