<%= render "layouts/header" %>
<div id="content">
<h1>About uniChat</h1>


<p>uniChat was created to provide a means of communication between the students attending UWA - the aims of this chat are as follows:</p>



<ul class="about"><li>Provide live assistance with university work to users</li></ul>

<p>Users are able to join chat rooms specific to their area of study and ask others in the room for assistance or advice for homework and projects. This allows the users to get help quickly and put in a way where they will understand.</p>

<ul class="about"><li>Encourage users to socialise with other students</li></ul>

<p>The chat box allows students to discuss a range of topics with other students, in or out of their area of study. This allows students to make friends with others withought the possible fear of being judged, which many students face when wanting to make friends.</p>

<p><a href="http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~20951255%2Findex.html&charset=%28detect+automatically%29&doctype=HTML5&group=0">HTML5 Validation</a></p>


<p>This chat is (will be) created with AJAX, Ruby and Javascript.</p>
<div id="footer">Copyright &copy; uniChat 2012 | <a href="sitemap.html">Site Map</a> | <a href="contact.html">Contact Us</a> | <a href="ref.html">References</a> | <a href="contact.html">Contact Us</a> | <a href="ref.html">References</a></div>






</div>
<%= render "layouts/footer" %>
