<%= render "layouts/header" %>
<div id="content">
<h1>Contact Us</h1>

<p>If you have any enquiries, bug reports, or suggestions, please do not hesitate to contact us via e-mail:</p>

<p class="reverse"><b>ua.ude.tneduts@55215902</b><br /></p>
<p>
Note to marker: Check README file for information on the method used for email harvesting prevention. 
</p>

<div id="footer">Copyright &copy; uniChat 2012 |<a href="/sitemap">Site Map</a> | <a href="/contact">Contact Us</a> | <a href="/ref">References</a></div>


</div>
<%= render "layouts/footer" %>