<%= render "layouts/header" %>
<div id="content">
<h1>Frequently Asked Questions</h1>

<ul class="faq">
<li>What is uniChat?</li>
<p>uniChat is a browser based live chat application used by UWA students.</p>

<li>How do I sign up?</li>
<p>Simply click the sign up link upon opening the chatbox - click the "Enter Chat" button on the top of the page to get started.</p>

<li>How do I chat to other students?</li>
<p>You can pick a chat room based on what topic you want to talk about - Chatrooms for specific areas of study are available for you to join, or if you just want to socialise, the General Chat room is recommended.</p>

<li>How is the chat moderated?</li>
<p>Chat rooms will have users who have been assigned moderators by the administrator - these people have the pwoer to ban or kick out users who break the rules.</p>

<li>What are the rules?</li>
<p>A list of rules can be found <a href="rules.html">here</a>.</p>

<li>What are the lists of names in the 'Room' box?</li>
<p>That is the list of people currently in the chat room that you are in. The list next to it is the friends list.</p>

<li></li>
<p></p>


</ul>
<div id="footer">Copyright &copy; uniChat 2012 | <a href="/sitemap">Site Map</a> | <a href="/contact">Contact Us</a> | <a href="/ref">References</a></div>


</div>
<%= render "layouts/footer" %>