<%= render "layouts/header" %>
<div id="content">
<h1>Welcome to uniChat</h1>


<p><img src="http://png.findicons.com/files/icons/1714/dropline_neu/128/internet_group_chat.png" width="128" height="128" alt="uniChat!" style="float:right" />Welcome to uniChat, a browser-based chat client for students of UWA. Here, students can discuss a wide variety of topics based on university. Multiple chat rooms allow for students coming from specific majors to communicate with others from the same area to help each other out or just talk.</p>


<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in leo ut mauris luctus adipiscing id sollicitudin mi. Donec rutrum rutrum consectetur. Phasellus ullamcorper, ante eget egestas elementum, magna augue convallis felis, ut ornare leo nunc ut massa. Nullam interdum lorem sit amet eros ornare eget egestas urna volutpat. Donec nec enim eget sem tristique auctor vel in metus. Vivamus id lectus nec arcu vehicula ornare. Suspendisse vehicula magna justo, nec feugiat eros. Sed lorem tortor, tristique sed sollicitudin ut, feugiat sit amet arcu. Vestibulum tristique erat eu ipsum consequat commodo. Aliquam in urna eget purus interdum feugiat. <br /><br />Fusce eget metus sapien, in pellentesque urna. Vivamus consequat ipsum eget odio fermentum eu mollis dui semper. Nam sed adipiscing quam. Cras ac est libero. Nulla blandit, leo in accumsan varius, purus libero ullamcorper turpis, eget accumsan enim eros nec velit.</p>

<p>Get started now by signing up!</p>
<p>Click the Entet Chat button above to open the chat box - there, you can log in or sign up if you don't already have an account.</p>
<p></p>
<h1>Updates</h1>

<p>
14 / 09 / 12: Sample update entry<br />
13 / 09 / 12: Sample update entry<br />
12 / 09 / 12: Sample update entry<br />
10 / 09 / 12: Sample update entry<br />
08 / 09 / 12: Sample update entry<br />
07 / 09 / 12: Sample update entry<br />
04 / 09 / 12: Sample update entry<br />
01 / 09 / 12: Sample update entry<br />
</p>
<div id="footer">Copyright &copy; uniChat 2012 | <a href="sitemap.html">Site Map</a> | <a href="contact.html">Contact Us</a> | <a href="ref.html">References</a>

</div>


</div>
<%= render "layouts/footer" %>
