<%= render "layouts/header" %>
<div id="content">
<h1>Reference</h1>

<ul>
<br />
<li><a href="http://subtlepatterns.com/">Subtle Patterns</a>: Creative Commons Attribution 3.0 - Background image</li>
<br />
<li><a href="http://en.wikipedia.org/wiki/File:UWA_Arches.jpg">Emma Farmer</a>: Creative Commons Attribution 2.5 - Header photo</li>
<br />
<li><a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a>: Creative Commons Attribution 3.0 - Icons used in Chatbox</li>

</ul>

<div id="footer">Copyright &copy; uniChat 2012 | <a href="/sitemap">Site Map</a> | <a href="/contact">Contact Us</a> | <a href="/ref">References</a></div>


</div>
<%= render "layouts/footer" %>