<%= render "layouts/header" %>
<div id="content">
<h1>Rules</h1>


<p>By signing up to this website the user agrees to follow uniChat's rules. These rules keep the chatbox an enjoyable and helpful tool to use for all users.</p>

<ol>
<li>Be Courteous</li>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae mauris nulla, ac tempus lorem. Morbi eros tellus, imperdiet ut tristique vitae, sodales vitae urna. Donec adipiscing sodales nisl, a porttitor turpis consectetur at.</p>

<li>Stay on topic</li>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae mauris nulla, ac tempus lorem. Morbi eros tellus, imperdiet ut tristique vitae, sodales vitae urna. Donec adipiscing sodales nisl, a porttitor turpis consectetur at.</p>

<li>No offensive material</li>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae mauris nulla, ac tempus lorem. Morbi eros tellus, imperdiet ut tristique vitae, sodales vitae urna. Donec adipiscing sodales nisl, a porttitor turpis consectetur at.</p>

<li>No spam</li>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae mauris nulla, ac tempus lorem. Morbi eros tellus, imperdiet ut tristique vitae, sodales vitae urna. Donec adipiscing sodales nisl, a porttitor turpis consectetur at.</p>

<li>Multiple accounts</li>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae mauris nulla, ac tempus lorem. Morbi eros tellus, imperdiet ut tristique vitae, sodales vitae urna. Donec adipiscing sodales nisl, a porttitor turpis consectetur at.</p>


<div id="footer">Copyright &copy; uniChat 2012 |<a href="/sitemap"> Site Map</a> | <a href="/contact">Contact Us</a> | <a href="/ref">References</a></div>


</div>
<%= render "layouts/footer" %>
