<%= render "layouts/header" %>
<div id="content">
<h1>Sitemap</h1>

Website
<ul>

<li><a href="index.html">Home</a></li>
<li><a href="about.html">About uniChat</a></li>
<li><a href="rules.html">Rules</a></li>
<li><a href="faq.html">FAQ</a></li>
<li><a href="contact.html">Contact Us</a></li>
<li><a href="sitemap.html">Sitemap</a></li>
<li><a href="ref.html">References</a></li>

</ul>

Chatbox
<ul>

<li><a href="javascript:;" onClick="window.open('signin.html','uniChat','scrollbars=yes,width=700,height=518,location=no');">Chatbox</a></li>
<li><a href="javascript:;" onClick="window.open('signin.html','uniChat','scrollbars=yes,width=700,height=518,location=no');">Sign In</a></li>
<li><a href="javascript:;" onClick="window.open('signup.html','uniChat','scrollbars=yes,width=700,height=518,location=no');">Sign Up</a></li>

</ul>

<div id="footer">Copyright &copy; uniChat 2012 | <a href="sitemap.html">Site Map</a> | <a href="contact.html">Contact Us</a> | <a href="ref.html">References</a></div>


</div>
<%= render "layouts/footer" %>