<%= render "layouts/header" %>
<div id="content">
<h1>Sitemap</h1>

Website
<ul>

<li><a href="/">Home</a></li>
<li><a href="/about">About uniChat</a></li>
<li><a href="/rules">Rules</a></li>
<li><a href="/faq">FAQ</a></li>
<li><a href="/contact">Contact Us</a></li>
<li><a href="/sitemap">Sitemap</a></li>
<li><a href="/ref">References</a></li>

</ul>

Chatbox
<ul>

<li><a href="/chatrooms">Chatbox</a></li>
<li><a href="/login">Sign In</a></li>
<li><a href="/users/new">Register</a></li>

</ul>

</ul>
Testing
<ul>

<!--<li><a href="/coverage/index.html#_AllFiles">SimpleCov</a></li>-->
<li>SimpleCov results available through TESTFILE shortcut in root directory</li>
</ul>


<div id="footer">Copyright &copy; uniChat 2012 |<a href="/sitemap">Site Map</a> | <a href="/contact">Contact Us</a> | <a href="/ref">References</a></div>


</div>
<%= render "layouts/footer" %>